.App {
  color: white;
}
.movieItem {
  display: flex;
  padding: 5px;
  text-align: center;
  flex: 15 auto;
  flex-direction:column;
}

.App-header {
  padding: 0px 10px;
  background-color: black;
  height: 100px;
}

.logo {
  width: 200px;
  height: 100%;
}


.movie-content {
  list-style-type: none;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.movieItem-title {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  text-align: center;
}

.hover:hover {
  cursor: pointer;
}

.title {
  margin-left: 30px;
}

.button {
  display: flex;
  justify-content: center;
  height: 50px;
}

.button-hidden {
  border-radius: 10px; 
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  background-color: rgb(46, 103, 156);
  visibility: hidden
}
.button-show{
  border-radius: 10px; 
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  background-color: rgb(46, 103, 156);
  visibility: visible
}



